rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.admin == true;
    }

    function isImage() {
      return request.resource.contentType.matches('image/(jpeg|png|webp|avif)');
    }

    function isUnderMaxSize() {
      return request.resource.size < 10 * 1024 * 1024;
    }

    match /posts/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && isImage() && isUnderMaxSize();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
